{% extends 'base.html.twig' %}

{% block title %}Nouveau Service{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<div class="m-5">
<div class="row">
<div class="col-md-6">
    <h1>Nouveau Service</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.description, {'attr' : {'class' : 'form-control'} }) }}
    {{ form_row(form.price, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.image, {'attr' : {'class' : 'form-control'}}) }}

    <hr class="my-4">
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
    <br>
    <a href="{{ path('app_service') }}" class="btn btn-secondary">Retour à la liste des services</a>
</div>
</div>
</div>
{% endblock %}
