{% extends 'base.html.twig' %}

{% block title %}Edit Weekly Opening Hours{% endblock %}

{% block body %}

{% include "navbar.html.twig" %}

    <div class="container m-5">
        <h1>Edit Weekly Opening Hours</h1>
        {{ form_start(form) }}

        <form action="" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Opening Time</th>
                    <th>Closing Time</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ form_row(form.dayOfWeek) }}</td>
                        <td>{{ form_widget(form.openingTime) }}</td>
                        <td>{{ form_widget(form.closingTime) }}</td>
                    </tr>
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Save</button>
        </form>
        {{ form_end(form) }}
    </div>
{% endblock %}
