{% extends 'base.html.twig' %}

{% block title %}Edit Weekly Opening Hours{% endblock %}

{% block body %}

{% include "navbar.html.twig" %}

    <div class="container m-5">
        <h1>Modifier les horaires d'ouverture</h1>
        {{ form_start(form) }}
            {{ form_row(form.dayOfWeek) }}
            {{ form_widget(form.openingTime) }}
            {{ form_widget(form.closingTime) }}
        <button type="submit" class="btn btn-primary">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
