{% extends 'base.html.twig' %}

{% block content %}

{% include "navbar.html.twig" %}

<h1>List des utilisateurs</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            {# Add more columns as needed for user attributes #}
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                {# Display more user attributes as needed #}
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_home') }}">Back to Home</a>
{% endblock %}
